<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThemeEditor.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ThemeEditor.WPF.Properties.Settings>
            <setting name="CheckUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXP_ResampleWav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_Folder_CursorX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Preview_Folder_CursorY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Preview_Folder_CursorEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_Folder_FolderX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Preview_Folder_FolderY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Preview_Folder_FolderEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_Folder_FileX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Preview_Folder_FileY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Preview_Folder_FileEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_Main_CursorX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Preview_Main_CursorY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Preview_Main_CursorEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_Main_FolderX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Preview_Main_FolderY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Preview_Main_FolderEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_Main_CartX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Preview_Main_CartY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Preview_Main_CartEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_Main_FileX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Preview_Main_FileY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Preview_Main_FileEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preview_ModeToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_AnimationToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview_PressedToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SocketIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SocketMaxTries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Preview_CloseToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MRU_List" serializeAs="String">
                <value />
            </setting>
        </ThemeEditor.WPF.Properties.Settings>
    </userSettings>
</configuration>