<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThemeEditor.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ThemeEditor.WPF.Properties.Settings>
            <setting name="CheckUpdatesOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_ResampleWav" serializeAs="String">
                <value>False</value>
            </setting>
        </ThemeEditor.WPF.Properties.Settings>
    </userSettings>
</configuration>